* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

header {
    position: fixed;
    padding: 30px;
    z-index: 30;
    width: 100%;
    height: auto;
}

header nav {
    position: absolute;
    top: 40px;
    right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 12px 14px;
    border-radius: 50%;
}

.bg {
    width: 100%;
    height: 100vh;
    position: relative;
}

#bg1 {
    background-color: red;
}

#bg2 {
    background-color: green;
}

#bg3 {
    background-color: yellow;
}

.bg figure {
    position: absolute;
    width: 50%;
    height: auto;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 25vh;
    text-align: center;
}

.bg figure img {
    width: 100%;
    height: auto;
    /* object-fit: fill; */
}

.bg figure h1 {
    color: yellow;
    font-size: 32px;
}

#bg3 figure h1 {
    color: green;
}

